<footer class="content" style="margin: 0px 16% 40px 16%">
  <h4 style="margin: 0px 35px; color: #f1f1f1;">We love the web anonymous as it is, but sometimes when we do personal things on the web, we need a little less anonymity</h4>
</footer>