<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es" xmlns:fb="http://ogp.me/ns/fb#"xmlns:og="http://opengraphprotocol.org/schema/">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="es" xmlns:fb="http://ogp.me/ns/fb#"xmlns:og="http://opengraphprotocol.org/schema/">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="es" xmlns:fb="http://ogp.me/ns/fb#"xmlns:og="http://opengraphprotocol.org/schema/">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="es" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://opengraphprotocol.org/schema/">
<!--<![endif]-->
  <head prefix="og: http://ogp.me/ns#  fb: http://ogp.me/ns/fb#  website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ SITE_TITLE }}</title>

    <meta name="robots" content="index,follow">
    
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">

    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
    <meta name="DC.title" content="{{ SITE_TITLE }}">
    <meta name="DC.description" content="{{ DESCRIPTION }}">
    <meta name="msvalidate.01" content="{{ BING_CODE }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="fb:app_id" content="{{ FB_APP_ID }}">
    <meta property="og:site_name" content="{{ SITE_NAME }}">
    <meta property="og:title" content="{{ SITE_TITLE }}">
    <meta property="og:image" content="{{ SITE_IMAGE }}">
    <meta property="og:description" content="{{ DESCRIPTION }}">
    <meta property="og:url" content="{{ SITE_URL }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" value="summary">
    <meta name="twitter:url" value="{{ SITE_URL }}">
    <meta name="twitter:title" value="{{ SITE_TITLE }}">
    <meta name="twitter:description" value="{{ DESCRIPTION }}">
    <meta name="twitter:image" value="{{ SITE_IMAGE }}">
    <meta name="twitter:site" value="{{ SITE_NAME }}">

    <link rel="shortcut icon" href="http://{{ DOMAIN_BASE }}/static/img/icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="http://{{ DOMAIN_BASE }}/static/img/icons/apple-touch-icon-iphone.png" /> 
    <link rel="apple-touch-icon" sizes="72x72" href="http://{{ DOMAIN_BASE }}/static/img/icons/apple-touch-icon-ipad.png" /> 
    <link rel="apple-touch-icon" sizes="114x114" href="http://{{ DOMAIN_BASE }}/static/img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="http://{{ DOMAIN_BASE }}/static/img/icons/apple-touch-icon-ipad3.png" />

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://{{ DOMAIN_BASE }}/rss"/>
    <link rel="canonical" href="http://{{ SITE_URL }}"/>

    <!-- Web Fonts -->
    

    <!-- Others -->
    <link rel="stylesheet" href="http://{{ DOMAIN_BASE }}/static/css/bootstrap.css"/>

    <link rel="stylesheet" href="http://{{ DOMAIN_BASE }}/static/css/font-awesome.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="http://{{ DOMAIN_BASE }}/static/css/font-awesome-ie7.css">
    <![endif]-->

    <!-- EXTRA_STYLES_HEAD -->
    {% block styles_head %}
      
    {% endblock %}

    <link rel="stylesheet" href="http://{{ DOMAIN_BASE }}/static/css/main.css">
    <link href="//vjs.zencdn.net/4.2/video-js.css" rel="stylesheet">

    <!-- This includes html5shim -->
    <script src="http://{{ DOMAIN_BASE }}/static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <script type="text/javascript" data-app-id="32ErjeK5J6p0olzHcu7w" src="https://assets.yammer.com/platform/yam.js"></script>

    <script src="//vjs.zencdn.net/4.2/video.js"></script>

    <script src="http://{{ DOMAIN_BASE }}/static/audiojs/audio.min.js"></script>
    <!-- EXTRA_SCRIPTS_HEAD -->
    {% block scripts_head %}
      
    {% endblock %}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-45215798-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 

        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    
  </head>
  <body class="home">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- HEADER AREA -->         
    {% include "partials/header.html" %}

    <!-- MAIN CONTENT AREA -->        
    <div class="content" style="margin: 0px 16%;">
      <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 well exterior-container">
                {% block main_content %}

                {% endblock %}
            </div>
        </div>
      </div>
    </div>

    <!-- FOOTER STARTS HERE -->
    {% include "partials/footer.html" %}
    <!-- END FOOTER -->
                
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://{{ DOMAIN_BASE }}/static/js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
    <script src="http://{{ DOMAIN_BASE }}/static/js/vendor/bootstrap.min.js"></script>
    <script src="http://{{ DOMAIN_BASE }}/static/js/vendor/jquery.blockUI.js"></script>
    <script src="http://{{ DOMAIN_BASE }}/static/js/main.js"></script>

    <script>
      $(document).ajaxStop($.unblockUI);
      $(document).ajaxSend(function () { $.blockUI({ message: '<h4>Processing ...</h4>' }); });
    </script>

    <script type="text/javascript">
        document.createElement('video');
        document.createElement('audio');
    </script>


    <!-- EXTRA_SCRIPTS_BOTTOM -->
    {% block scripts_bottom %}

    {% endblock %}
  </body>
</html>