/* ==========================================================================
   Agustin Haller's custom styles
   ========================================================================== */

html{
background:#F1F1F1 url('../img/bg-main-blue.png') no-repeat center center fixed;
-webkit-background-size:/*@@prefixmycss->No equivalent*/;
-moz-background-size:cover;
-o-background-size:/*@@prefixmycss->No equivalent*/;
background-size:cover;
/*overflow: hidden;*/
}
body{
background:none;

}

header
{
	padding:0px;
}

/*header a {
margin: auto;
position: relative;
width: 279px !important;
display: block;
padding: 40px 0px;
}*/

header a img {
/*height: 80px;*/
height: 80px; margin: 20px 0px -35px 95px;
}


.upload-image,
.preview-image
{
  padding: 20px;
  margin: 0px !important;
}

.exterior-container
{
  background: #fff;
}

.start-verification-wrapper .preview-title
{
  text-align: center;
color: hsl(0, 0%, 50%);
margin-top: 0px;
}

.start-verification-wrapper .holder
{
border: 5px dashed hsl(0, 0%, 80%);
height: auto;
position: relative;
margin-left: 0px !important;
}

.start-verification-wrapper .holder.is_hover{
border:5px dashed #333;
}

.holder .holder-helpers
{
  text-align: center;
  margin-bottom: 20px;
}

.holder-helpers .devider
{
  margin: 9px auto;
min-height: 0px;
}

.holder-helpers .devider-helper
{
  height: 20px;
line-height: 20px;
min-height: 0px;
color: #ccc;
}

.holder-helpers .devider-container
{
  margin: 5px auto;
float: none;
min-height: 20px;
}

.participate-form .controls
{
  margin: auto 20px;
}

.participate-form .control-group
{
margin-bottom: 8px;
}

.participate-form .help-block
{
  font-size: 12px;
  color: #ccc;
  margin: 3px 0px 0px 0px !important;
}

#file-btn
{
  display: none;
}

.holder .change-image-btn
{
display: none;
position: absolute;
bottom: 0px;
right: 0px;
z-index: 3;
}

/* IMAGE EDITOR */
.preview-image-container {
width: 480px;
height: 330px;
position: relative;
overflow: hidden;
border: 1px solid hsl(0, 0%, 80%);
}

.cropped-image {
width: auto;
height: auto;
max-width: none;
}

.preview-image .canvas
{
  display: none;
}

.start-verification-form .help-block {
font-size: 12px;
color: hsl(0, 0%, 80%);
margin: 3px 0px 0px 0px !important;
}

.magic-container video
{
  height: auto !important;
}