{% extends "layout.html" %}

{% block main_content %}

<h1>hello you!</h1>
<span id="yammer-login"></span>


<script> 
	yam.connect.loginButton('#yammer-login', function (resp) { 
		if (resp.authResponse) 
		{ 
			document.getElementById('yammer-login').innerHTML = 'Welcome to Yammer!'; 
		} 
	}); 
</script>
<p/>
<p/>
<input type="button" id="send-msg" onclick="SendVideoMessage()" value="Send Video Message to Agustin"></input>
<p/>
<p/>
<input type="button" id="send-msg" onclick="SendVoiceMessage()" value="Send Voice Message to Agustin"></input>
<p/>

<video id="example_video_1" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="264"
  poster="http://video-js.zencoder.com/oceans-clip.png"
  data-setup='{"example_option":true}'>
 <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
 <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
 <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
</video>

<audio src="https://s3-sa-east-1.amazonaws.com/chat-plus-plus/1384666641audio.wav" preload="auto" />


{% endblock %}

{% block scripts_bottom %}

<script type="text/javascript">

  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });

	function SendVideoMessage(){
		yam.getLoginStatus(
		  function(response) {
		    if (response.authResponse) {
		      console.log("logged in");
		      yam.request({
		        url: "https://www.yammer.com/api/v1/messages.json",  
		        method: "POST",
		        data: {    //use the data object literal to specify parameters, as documented in the REST API section of this developer site
		          "body": "http://video-js.zencoder.com/oceans-clip.webm",
		          "direct_to_id":"1508359638"
		        },
		        success: function (user) { //print message response information to the console
		          alert("The request was successful.");
		          console.dir(user);
		        },
		        error: function (user) {
		          alert("There was an error with the request.");
		        }
		      });
		    }
		    else {
		      alert("not logged in")
		    }
		  }
		);
	}

	function SendVoiceMessage(){
		yam.getLoginStatus(
		  function(response) {
		    if (response.authResponse) {
		      console.log("logged in");
		      yam.request({
		        url: "https://www.yammer.com/api/v1/messages.json",  
		        method: "POST",
		        data: {    //use the data object literal to specify parameters, as documented in the REST API section of this developer site
		          "body": "http://s3.amazonaws.com/audiojs/02-juicy-r.mp3",
		          "direct_to_id":"1508359638"
		        },
		        success: function (user) { //print message response information to the console
		          alert("The request was successful.");
		          console.dir(user);
		        },
		        error: function (user) {
		          alert("There was an error with the request.");
		        }
		      });
		    }
		    else {
		      alert("not logged in")
		    }
		  }
		);
	}
</script>

{% endblock %}